.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100vw; */
    border: 1px solid black;
    background-color:#0f4e6b;
    color: white;
    padding: 1.5rem;
}
.navbar-wrapper div:nth-child(2)
{
    flex-basis: 65%;
}

/* .navbar-wrapper div:nth-child(1)
{
   
    letter-spacing: 15px ;
    flex-basis: 65%;

} */
.heading{
    font-size: xx-large;
    letter-spacing: 15px ;
}
.navbar-wrapper div:nth-child(2) input
{
   width: 100%;
   padding: 10px;
   height: 25px;
   background-color:   rgba(249, 243, 243, 0.895);
   /* background-color: #bcbcbc; */
   border: none;
   border-radius: 5px;
}
body{
    background-color: rgb(3, 3, 39);
}

.search-bar
{
    position:  relative;
}
#result-list
{
    position: absolute;
   /* display: none; */
   background-color: whitesmoke;
   
   color: black; 
   width:100%;
   border-radius: 5px;
   max-height: 400px; 
   overflow-y: scroll;
   border-color: 1px solid rgb(60, 60, 60);
 
}
  
.navbar-down
{
    font-size: large;
    margin-bottom: 1rem;
    padding: 1rem;
    border-bottom: 1px solid black;
   
}
.movie-base-title > a
{
  color: white;
  text-decoration: none;
}
.navbar-down:hover{
    background-color: rgb(183, 176, 167);
}